<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="FunShare" connectionString="metadata=res://*/FSModel.csdl|res://*/FSModel.ssdl|res://*/FSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.93;initial catalog=親子平台;user id=FUNShareDB;password=987654321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities" connectionString="metadata=res://*/FUNShareModel.csdl|res://*/FUNShareModel.ssdl|res://*/FUNShareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.31.93;user id=FUNShareDB;password=987654321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FUNShareEntities" connectionString="metadata=res://*/FunShareModel.csdl|res://*/FunShareModel.ssdl|res://*/FunShareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FUNShare;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>